.header
	height: 95vh
	// it seems that every point, the height of this box, of this element, should be 95% of the viewport height.
	background-image: url(../img/hero.jpeg)
	background-size: cover
	background-position: top
